fastapi==0.104.1
uvicorn[standard]==0.41.0
asyncpg==0.29.0
pydantic==2.5.0
pydantic-settings==2.1.0
python-dotenv==1.2.1
redis==7.2.1
httpx==0.25.0
python-multipart==0.0.6
sqlalchemy==2.0.47
pytest==9.0.2

# Dependências para os modelos de recomendação
numpy==2.2.2
pandas==2.2.3
scikit-learn==1.8.0
scipy==1.17.1
joblib==1.4.2
lightfm==1.17
hdbscan==0.8.40
torch==2.10.0+cpu
torchaudio==2.10.0+cpu
torchvision==0.25.0+cpu
pyyaml==6.0.3
slowapi==0.1.9
