# Configuração do Banco de Dados Supabase (PostgreSQL Direct Access)
# Formato: postgresql://[user]:[password]@[host]:[port]/[database]
SUPABASE_DB_URL=postgresql://postgres:sua-senha-aqui@db.projeto.supabase.co:5432/postgres
